/* @use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";

@include textfield.core-styles; */


body {
    background-color: #252525;
    color: #eeeeee;
}

.mdc-button--primary {
    background-color: #50aa88;
    color: #eeeeee;
}

.mdc-button--accent {
    background-color: #f03060;
    color: #eeeeee;
}

.my-btn {
    background-color: #50aa88;
    color: #eeeeee;
}

.c1 {
    background-color: green;
    color: #eeeeee;
}

.c2 {
    background-color: blue;
    color: #eeeeee;
}
