
body {
    background-color: #252525;
    color: #eeeeee;
}

#btn-cyan {
    background-color: #50aa88;
    color: #eeeeee;
}

.mdc-button--accent {
    background-color: #f03060;
    color: #eeeeee;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-row {
    align-self: flex-end;
}

