:root {
    --cyan: #50aa88;
    --white: #eeeeee;
    --red: #f03060;
    --grey: #252525;
    --mdc-theme-primary: var(--cyan);
    --mdc-theme-on-primary: var(--white);
    --mdc-theme-secondary: var(--red);
    --mdc-theme-on-secondary: var(--white);
}

body {
    background-color: var(--grey);
    color: var(--white);
}

.mdc-button--raised:hover {
    background-color: var(--mdc-theme-secondary);
}

.header {
    display: flex;
    justify-content: center;
}

.header-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}


.mdc-card {
    &.swatch-tile {
        height: 120px;
        width: 300px;
        background-color: hsl(0, 0%, 20%);
        display: flex;
        flex-direction: row;
        >.swatch-color {
            margin: 10px;
            display: flex;
            padding: 50px;
            background-color: var(--cyan);
            border-radius: 15%;
        }
        >.swatch-content {
            display: flex; 
            flex-direction: column;
            justify-content: center;
            >li { list-style-type: none; }
        }
    }
}

